$font-color: #3498db;

body {
    font-family: Arial, sans-serif;
    background-color: $font-color;
    margin: 0;
    padding: 0;
}

article {
    background-color: lightblue;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;

    h1 {
        color: $font-color;
        font-size: 32px;
    }

    p {
        color: $font-color;
        font-size: 18px;
    }

    &:hover {
        background-color: $font-color;
    }
}